
<p>
  <strong>Auteur:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Effacer le commentaire', [comment.book, comment],
              method: :delete,
              data: { confirm: 'Etes vous certain ?' },
              class: "btn btn-danger"
  %>
</p>