<%= form_for @book do |f| %>

    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@book.errors.count, "error") %> prohibited
            this book from being saved:
          </h2>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <p>
        <%= f.label :titre %><br>
        <%= f.text_field :titre %>
      </p>
    </div>

    <div class="form-group">
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>
    </div>
    <div class="form-group">
      <p>
        <%= f.submit %>
      </p>
    </div>
<% end %>