<h1 class="text-info">Bienvenue sur l'outil de gestion de livres et de notes de lectures</h1>
<h2>Liste des livres</h2>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
  </tr>

  <% @books.each do |book| %>
      <tr>
        <td><%= book.titre %></td>
        <td><%= book.description %></td>
        <td><%= link_to 'Détail du livre',
                        book_path(book),
                        class: "btn btn-info"
        %></td>
        <td><%= link_to 'Modifier',
                        edit_book_path(book),
                        class: "btn btn-warning"
        %></td>
        <td><%= link_to 'Supprimer', book_path(book),
                        method: :delete,
                        data: { confirm: 'Etes-vous certain ?' },
                        class: "btn btn-danger"
        %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Nouveau livre',
            new_book_path,
            class: "btn btn-success"
%>