
<p>
  <strong>Titre du livre:</strong>
  <%= @book.titre %>
</p>

<p>
  <strong>Description du livre:</strong>
  <%= @book.description %>
</p>

<h2>Commentaires</h2>
<%= render @book.comments %>

<h2>Ajouter une note de lecture</h2>
<%= render 'comments/form' %>



<%= link_to 'Modifier',
            edit_book_path(@book),
            class: "btn btn-warning"
%> |
<%= link_to 'Retour à la liste',
            books_path,
            class: "btn btn-info"
%>